.headerContainer {
    background-color: #3f5db5;
    display: flex;
    justify-content: space-between;
    flex: 1 1 30%;
    align-items: center;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.headerTitle {
    justify-self: flex-start;
    font-weight: bold;
    font-size: 36px;
}

.authRedirect {
    cursor: pointer;
}
