.chatListContainer {
    background-color: whitesmoke;
    min-height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    position: sticky;
}

.listItem {
    margin: 10px 0px;
    padding: 15px;
    cursor: pointer;
    transition: 200ms ease-out;
}

.listItem:hover {
    background-color: wheat;
    border-radius: 10px 50px 50px 10px;
    transition: 200ms ease-in;
}

.activeChat {
    background-color: wheat;
    border-radius: 10px 50px 50px 10px;
}

.chatTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    background-color: #247cbeb2;
    color: white;
}
